<h3>Edit an existing task !</h3>

<%= form_for(@task) do |f| %>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :details %>
  <%= f.text_field :details %>
</div>
  <%= f.submit %>
<% end %>



<button type="button" class="btn btn-danger">
  <%= link_to delete_path(@task), method: :delete do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</button>
