<h3>Create a new task !</h3>

<%= form_for(@task) do |f| %>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :details %>
  <%= f.text_field :details %>
</div>
  <%= f.submit %>
<% end %>
